html, body {
  height: 100%;
  background-image: url('./images/architecture-buildings-city-313782.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  /*background-color: #EEEEEE;*/
}

.header {
  padding: 2vh;
}

.SearchDiv {
  width: 75%;
  top: 50%;
}
.ui.inverted.segment, .ui.primary.inverted.segment {
  width: 50%;
    top: 50%;
    margin: 10% 25%;
}
