html {
  height: 100%;
}
body {
  background-image: url('./images/architecture-buildings-city-313782.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  /*background-color: #EEEEEE;*/
}

.header {
  padding: 2vh;
}